.header{
    height: 600px;
    width: 1200px;
    
}
.header img{
    height: 600px;
    width:1200px;
    background-position: bottom right;
    display: block;
}
.header h1{
    position: absolute;
    bottom: 550px;
    color: aliceblue;
    left: 400px;
    font-size: 40px;
}
.header label{
    position: absolute;
    font-size: 60px;
    color: aliceblue;
    right:1000px;
    top: 200px;

}
.header input{
    position: absolute;
    right: 800px;
    top: 220px;
    padding-bottom: 20px;
}
.wrapper label{
    position: absolute;
    color: white;
    font-size: 60px;
    right:1000px;
    top: 280px;
}
.wrapper input{
    position: absolute;
    right: 800px;
    top: 300px;
    padding-bottom: 20px;
}
.text button{
    position: absolute;
    bottom: 400px;
    left:750px ;
    padding-bottom: 5px;
    padding-top: 5px;
}




